---
import weatherData from '../../data/weather.json';
import WeatherToday from './WeatherToday.tsx'
---

<div class="border-gray-400 border-2 p-4 max-w-auto m-8 rounded-xl">
  <h2>Weather for Today</h2>
  <WeatherToday client:load />
</div>