---
import weatherData from "../../data/weather.json";
import WeatherChart from "./WeatherChart.tsx";
import WeatherToday from "./WeatherToday.tsx";
---

<div class="p-4 max-w-auto m-6 rounded-xl">
  <WeatherToday client:load />
  <WeatherChart client:only="react" />
</div>
